<!DOCTYPE html>
<html>
  <head>
    <title>NomNomServer</title>
    <%= stylesheet_link_tag 'nom_nom_server' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
